*{
    margin: 0;
    padding: 0;
}
/* section-1 */
.flower{
    width: 300px;
}
.banner-section{
    display: flex;
    background-color: #E554731A;
    justify-content: center;
    align-items: center;
    gap: 90px;


}
.banner-heading{
    color: #272727;
    /* font-family: Lato; */
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
    font-style: normal;


}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;

}
.btn{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 50px;
    border: none;
    font-style: normal;

}
/* section-2 */
.image-container {
  position: relative;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 290px;
  height: 340px;
}
.first{
  
  background: rgba(5, 151, 160, 0.15);
}
.second{
  
background: rgba(71, 125, 17, 0.15);
}

.image-container h5 {
    bottom:-50px;
    position: absolute;
    text-decoration-line: underline;
  
}
.image-container img{
    width: 200px;

}
.img-one{
    padding-top: 64px;
    padding-left: 30px;
    padding-bottom: 0px;
}
.img-two{
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 0px;
}
.img-three{
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 10px;
}
    

.section-2-header{
   text-align: center;
   margin-top: 100px;
   margin-bottom: 10px;
   font-size: 30px;
}
.banner-description-2{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header{
    padding-left: 95px;
    padding-bottom: 20px;
}
.second-banner-container{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    /* margin-right: 40px; */
    margin-top: 50px;
    gap: 15px;
  

}
/* end section-2 */

/* optional section start */
.optional-container{
    display: flex;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
    display:flex;
   justify-content: center;
    align-items:center;
    width:900px;
    margin: auto;
    padding: auto;
    padding-right: 30px;
    margin-top: 100px;
    gap: 30px;

   
}
.optional-img{
    width: 50px;
    margin: 20px;
    padding: 25px;
    margin-top: 20px;
}
.optional-font{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/* hot deal section */
.hot-deal{
    display: flex;
    justify-content: center;
    background-color: #E554731A;
    width: 100%;
    margin-top:100px ;
    gap: 70px;
    /* margin: auto; */
}
.hot-deal-img{
    width: 200px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.hot-deal-title{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-size: 30px;
    
}
.hot-deal-description{
    font-size: 12px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 20px;
}
.hot-deal-btn{
    width: 120px;
    /* padding-left: 30px; */
}
